body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }
dialog{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
}

  form {
    margin-bottom: 30px;
    max-width: 500px;

  }
  label, input {
    display: block;
    margin: 20px 0 ;
    width: 100%;
  }
  input[type="submit"] {
    width: auto;
    padding: 8px 16px;
    background-color: #00ADB5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input:hover{
    background-color: aquamarine;
  }
  label {
    text-align: left;
  }
  dialog[open] {
  display: block;
}
dialog {
  display: none;
}
#btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: 0.7rem 1.2rem;
  background-color: #00ADB5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background 0.2s ease-in-out;
}

#btn:hover {
  background-color: #0096a0;
}
